:root {
    --color-primario: #db1143;
    --color-secundario: #f08b4c;
    --color-fondo: #edc6dc;
    --color-texto: #d81102;
    --color-borde: #010d18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    padding: 40px 20px;
}

.contenedor-formulario {
    max-width: 500px;
    margin: 0 auto;
    background: rgba(248, 154, 154, 0.796);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 26px;
    color: var(--color-primario);
    margin-bottom: 8px;
    text-align: center;
}

.subtitulo {
    color: #2c5f74;
    margin-bottom: 30px;
    text-align: center;
}

.grupo-formulario {
    margin-bottom: 20px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s;
}

input:focus {
    border-color: var(--color-secundario);
    outline: none;
    box-shadow: 0 0 5px rgba(213, 75, 29, 0.3);
}

input[readonly] {
    background-color: #f1f3f4;
    color: #5f6368;
    cursor: not-allowed;
}

input[readonly]:focus {
    border-color: var(--color-borde);
    box-shadow: none;
}

.boton-enviar {
    background-color: var(--color-primario);
    color: rgba(255, 255, 255, 0.546);
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.boton-enviar:hover {
    background-color: #ab1313;
}