:root {
    --color-primario: #101617;
    --color-secundario: #0d2839;
    --color-fondo: hsl(280, 34%, 79%);
    --color-texto: #e4d4e9;
    --color-borde: #7d266d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    padding: 40px 20px;
}

.contenedor-formulario {
    max-width: 700px;
    margin: 0 auto;
    background: rgba(176, 17, 204, 0.796);
    padding: 80px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.165);
}

h1 {
    font-size: 26px;
    color: var(--color-primario);
    margin-bottom: 10px;
    text-align: center;
}

.subtitulo {
    color: #090a4b;
    margin-bottom: 40px;
    text-align: center;
}

.grupo-formulario {
    margin-bottom: 25px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s;
}

input:focus {
    border-color: var(--color-secundario);
    outline: none;
    box-shadow: 0 0 5px rgba(15, 1, 14, 0.3);
}

input[readonly] {
    background-color: #e8b6eb;
    color: #290b31;
    cursor: not-allowed;
}

.grid-botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

.boton-operacion {
    background-color: var(--color-secundario);
    color: rgb(255, 255, 255);
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-operacion:hover {
    background-color: #41084a;
}